@import url(../css/common.css);
@import url(../css/font.css);
/* ----------->> aside <<----------- */
aside{
  position: fixed;
  width: 80px;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 1px solid #000;
  flex-direction: column;
  align-self: center;
  /* pointer-events: none; */
}
aside p{
  font-size: 25px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 20px;
  cursor: help;
}
aside h1{padding-bottom: 20px;}    
aside h1 img{width:55px;} 

/* Header */
#header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
#clock{
  position: absolute;
  left: 120px;
  top: 20px;
  display: inline-block;
}
#gnb{
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}
#gnb li{
  padding: 0 20px;
}
#gnb li a{
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 18px;
}
#gnb li a:hover{
  filter: blur(1.1px);
}

/* Trigger ///////////////*/
.trigger, .close {
  cursor: pointer;
}
.trigger span{
  padding-top: 20px;
  color: #000;
  font-size: 45px;
}
.gnb_list .close span{
  color: #fff;
  padding-top: 10px;
  font-size: 35px;
}

/* Menu ///////////////*/
.gnb_list{
  position:fixed;
	top:0;
  left: -60%;
	width:30%;
  height: 100vh;
	background-color:rgba(0,0,0,0.6); 
  backdrop-filter: blur(2px);
}
.gnb_list li:first-child{margin-top:80px;}
.gnb_list li{padding: 10px 0;}
.gnb_list li.close{ 
	position:absolute; 
	right:45px; 
	top:5px; 
}

#dot{
  position:fixed; 
  z-index:999; 
  right:5%; 
  top:50%;
  transform: translateY(-50%);
}
#dot span{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid  #000;
  margin: 20px 0;
  cursor: pointer;
}
#dot span.active{
  display: block;
  width: 10px;
  height: 30px;
  border-radius: 15px;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s;
}

#container{
  width:100%;
}
.inner{
  width: 1200px;
  height: 100vh;
  margin: auto;
  position: relative;
  padding-top: 70px;
}
#container h2{
  font-size:45px; 
  font-weight:100;
  position: absolute;
  padding-top: 30px;
  left: 0;
  text-transform: uppercase;
  font-weight: 400;
}
#main{
  height: 100vh;
  background: url(../image/mauntain2.jpg) no-repeat center /cover ;
  position: relative;
}

#profile{
  height: 100vh;
  position: relative;
}
#publishing{
  height: 100vh;
  position: relative;
}
#publishing:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../image/uphill1.jpg) no-repeat center /cover;
  opacity: 0.6;
}
#web-design{
  height: 100vh;
  background-color: greenyellow;
  position: relative;
}
#web-planning{
  height: 100vh;
  background-color: #333;
  position: relative;
}


/* 1-main */
.video {
  position: relative;
  display: flex;
  top: 150px;
  left: 80px;
  height: 120px;
  width: 400px;
  cursor: help;
}
.video__content {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover; 
  object-position: center;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.video:before{
  content: 'p\00a0';
  position: absolute;
  top: 4px;
  font-size: 100px;
  line-height: 100px;
  right: 100%;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.video:after{
  content: '\00a0rtfolio';
  position: absolute;
  top: 4px;
  left: 100%;
  width: 100%;
  height: 100%;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 18px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
#main .inner p{
  position: absolute;
  padding-top: 100px;
}
.mouseBox{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.mouseBox .mouse{
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius:20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@keyframes mouse-ani{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}
#main .mouse span{
  position: absolute;
  top: 10px;
  left: 12px;
  width: 3px;
  height: 10px;
  background-color: #fff;
  border-radius: 25px;
  animation: mouse-ani 1.1s infinite;
}


/* profile */
#profile .inner .profilein{
  position: relative;
  width: 100%;
  height: 600px;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
  cursor: help;
}
#profile .profileimg{
  position: absolute;
  left: 0;
  width: 380px;
  height: 550px;
  background: url(../image/profile.png) no-repeat center bottom -10px;
  background-size:  420px auto;
}
#profile .profilebg{
  position: absolute;
  left: 0;
  width: 380px;
  height: 550px;
  background: url(../image/mauntain.jpg)no-repeat left bottom/cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 10px 10px -7px, rgba(10, 37, 64, 0.35) 0px 0px 4px 0px inset;
  border-radius: 20px;
  z-index: -1;
}
#profile .inner .introduction{
  position: absolute;
  width: 380px;
  height: 550px;
  left:50%;
  transform: translateX(-50%);
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile .inner .introduction span{
  width: 340px;
  height: 20px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1.5px solid #000;
  font-size: 1.2rem;
  font-weight: 400;
}
#profile .inner .introduction span:first-child{
  margin-top: 0;
}
.introduction span i{
  font-weight: 300;
}
.introduction .co-ce{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 380px;
  height: 330px;
  bottom: 0;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 10px 10px -7px, rgba(10, 37, 64, 0.35) 0px 0px 4px 0px inset;
}
.introduction .co-ce .co-ce-in .certificate{
  margin-top: 25px;
}
.introduction .co-ce .co-ce-in{padding: 35px;}
.introduction .co-ce .co-ce-in .contest h3, 
.introduction .co-ce .co-ce-in .certificate h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.introduction .co-ce .co-ce-in .contest li,
.introduction .co-ce .co-ce-in .certificate li{
  margin-top: 6px;
}
.introduction .co-ce .co-ce-in .contest i,
.introduction .co-ce .co-ce-in .certificate i{
  font-style: normal;
  font-weight:600;
}
#profile .inner .pr{
  position: absolute;
  top: 0;
  width: 380px;
  height: 550px;
  right: 0;
}
#profile .inner .pr .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
#profile .inner .pr .progress-bar-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#profile .inner .pr .progress-bar-wrapper .image{
  width: 45px; 
  height: 45px; 
}
#profile .inner .pr .progress-bar-container {
  width: 300px; 
  border: solid 1.2px #000;
  border-radius: 25px;
  position: relative;
}
#profile .inner .pr .progress-bar {
  height: 20px;
  width: 0;
  background: linear-gradient(50deg, #4ed275, #fff);
  border-radius: 25px;
}
#profile .inner .pr .progress-percentage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}

#profile .inner .profilein .skill-ed{
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 380px;
  height: 330px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 10px 10px -7px, rgba(10, 37, 64, 0.35) 0px 0px 4px 0px inset;
  display: flex;
  justify-content: center;
}
.skill-ed .skill-ed-in .skill{margin-top: 25px;}
.skill-ed .skill-ed-in{padding: 35px;}
.skill-ed .skill-ed-in .education h3,
.skill-ed .skill-ed-in .skill h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.skill-ed .skill-ed-in .education li,
.skill-ed .skill-ed-in .skill li{
  margin-top: 6px;
}
.skill-ed .skill-ed-in .skill ul{
  display: flex;
  column-gap: 15px;
}
.skill-ed .skill-ed-in .skill ul:last-child{  margin-top: 6px;}
.skill-ed .skill-ed-in .skill li img{
  width: 26px;
  height: 26px;
}
