@import url(../css/common.css);
@import url(../css/font.css);
/* ----------->> aside <<----------- */
aside{
  position: fixed;
  width: 80px;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-right: 1px solid #000;
  flex-direction: column;
  align-self: center;
  /* pointer-events: none; */
}
aside p{
  font-size: 25px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 20px;
  cursor: help;
}
aside h1{padding-bottom: 20px;}    
aside h1 img{width:55px;} 

/* Header */
#header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
#clock{
  position: absolute;
  left: 120px;
  top: 20px;
  display: inline-block;
}
#gnb{
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}
#gnb li{
  padding: 0 20px;
}
#gnb li a{
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 18px;
}
#gnb li a:hover{
  filter: blur(1.1px);
}

/* Trigger ///////////////*/
.trigger, .close {
  cursor: pointer;
}
.trigger span{
  padding-top: 20px;
  color: #000;
  font-size: 45px;
}
.gnb_list .close span{
  color: #fff;
  padding-top: 10px;
  font-size: 35px;
}

/* Menu ///////////////*/
.gnb_list{
  position:fixed;
	top:0;
  left: -60%;
	width:30%;
  height: 100vh;
	background-color:rgba(0,0,0,0.9); 
}
.gnb_list li:first-child{margin-top:80px;}
.gnb_list li{padding: 10px 0;}
.gnb_list li.close{ 
	position:absolute; 
	right:45px; 
	top:5px; 
}

/* Dot Button */
#dot{
  position:fixed; 
  z-index:999; 
  right:5%; 
  top:50%;
  transform: translateY(-50%);
}
#dot span{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid  #000;
  margin: 20px 0;
  cursor: pointer;
}
#dot span.active{
  display: block;
  width: 10px;
  height: 30px;
  border-radius: 15px;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s;
}

/* Container */
#container{
  width:100%;
}
.inner{
  width: 1200px;
  height: 90vh;
  margin: auto;
  position: relative;
  top: 70px;
}
#container h2 { 
  font-size:250px; 
  font-weight:100; 
  letter-spacing:-10px; 
}
#main{
  height: 100vh;
  background: url(../image/mauntain.jpg) no-repeat center /cover;
}
#profile{
  height: 100vh;
}
#publishing{
  height: 100vh;
  background-color: orange;
}
#web-design{
  height: 100vh;
  background-color: greenyellow;
}
#web-planning{
  height: 100vh;
  background-color: #333;
}
/* 1-main */
.video {
  position: relative;
  display: flex;
  top: 150px;
  left: 0;
  height: 120px;
  width: 300px;
  cursor: help;
}
.video__content {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover; 
  object-position: center;
  border: 1.5px solid #000;
  border-radius: 60px;
}
.video:before{
  content: 'p\00a0';
  position: absolute;
  top: 5px;
  left: -80px;
  font-size: 100px;
  line-height: 100px;
  right: 100%;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.video:after{
  content: '\00a0rtfolio';
  position: absolute;
  top: 5px;
  left: 100%;
  width: 100%;
  height: 100%;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 18px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
#main .inner p{
  position: absolute;
  top: 100px;
  left: -80px;
}
