.sections-wrapper {
  position: relative;
}

.slider-bar {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 20px;
  border-radius:50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  top: 50%;
  transform: translateY(-50%);
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.7);
  transition: 0.35s ease-in;
}
.slider-thumb:hover{
  border: 2px solid #fff;
  background-color: #000;
}

.sections {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.p-section {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#p-section1 {
  height: 100vh;
  position: relative;
}
#p-section2 {
  height: 100vh;
  position: relative;
}

#p-section3 {
  height: 100vh;
  position: relative;
}
.p-inner{
  width: 1200px;
  /* border: 1px solid #000; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.p-inner .mimg{
  width: 700px;
  height: 600px;
  object-fit: contain;
  animation: ani 0.8s infinite alternate ease-in-out;
}

@keyframes ani{
  from{transform: translateY(0);}
  to{transform: translateY(10px);}
}

/* publishing */
#publishing .title-h{
  position: relative;
  width:1200px;
  margin: auto;
}
#publishing h2{
  width: 100%;
  padding-top: 100px;
  position: absolute;
}
#publishing .p-inner .contents{
  position: relative;
  background: #fff;
  width: 400px;
  height: 550px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -10px, rgba(0, 0, 0, 0.3) 0px 10px 10px -7px, rgba(10, 37, 64, 0.35) 0px 0px 4px 0px inset;
}
/* publishing-1 */
.p-inner .contents .weblogo1{
  position: absolute;
  width: 80px;
  height: auto;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}



/* publishing-2 */
.p-inner .contents .weblogo2{
  position: absolute;
  width: 50px;
  height: auto;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}


/* publishing-3 */
.p-inner .contents .weblogo3{
  position: absolute;
  width: 60px;
  height: auto;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
